:root {
  font-family: 'Lato', sans-serif;

  --red: #f03f3b;
  --blue: #0957c3;
  --green: #103931;
  --white: #fbfbfb;
  --text: #11101c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  cursor: pointer;
}
